nav{
	    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;	
    color: #ccd6f6;
}
ol{
	    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
	display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
body {
background-size: cover;
background: rgb(38,52,119);
background: radial-gradient(circle, rgba(38,52,119,1) 0%, rgba(6,9,51,1) 52%);
}
#content h2, p{
    color: #ccd6f6;
}
#content h3{
    color: #5ceacb;
}
